body {
    background-color: blueviolet;

}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(dino.png); /* onde está a imagem */
    position: absolute; /* vai ficar onde eu definir */
    bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(cactus.png);
}

.game-over {
    text-align: center;
    color: #666666;
    bottom: 50px;
    font-size: arial;
}

@keyframes slideright {
    from {
        background-position:  70000%;
    } 
    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}